h1 {
    text-decoration: underline;
    text-transform: uppercase;
    font-family: 'Reenie Beanie', cursive;
}

a {color: #D4B996FF}

.unique-class {
    text-shadow: 2px 2px blue;
    text-decoration: underline;
    text-transform: capitalize;
}

.red-text {
    color: red;
}

.blogs-handwriting {
    font-family: 'Reenie Beanie', cursive; font-size: 30px;

}
.playgroundh1 {
    font-family: 'Hanalei', cursive;
}

.homepage_index {
    font-family: 'Fraunces', serif;
}