h1 {
    text-shadow: 2px 2px green;
    text-decoration: underline;
    font-style: italic;
    font-family: 'Imbue', serif;
}

a {color: blue}

.unique-class {
    text-shadow: 2px 2px blue;
    text-decoration: underline;
    text-transform: capitalize;
}

.red-text {
    color: red;
}