body {
    height: 1500px; 
    background: #c2c3a6
}

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.container {
    position: fixed; 
    top: 0; 
    left: 0;
    /* height: 90%; */
}

.arisize{
    display: flex;
    justify-content: center;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* width: 80%; */
}

.arisize canvas {
    width: 70%;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 80px;
    left: 0px;
    right: 0px;
    /* height: 10%; */
}