.blogs-handwriting {
    font-family: 'Reenie Beanie', cursive; font-size: 30px;
}    

.headerlogogrid {
    display: grid;
    grid-template-columns: 1fr;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.blogbg {
    background-size: 20px 20px;
    background-image:
        linear-gradient(to right, #C7ACA1 1px, transparent 1px),
        linear-gradient(to bottom, #C7ACA1 1px, transparent 1px);
    position: relative;
    height: 79.5%;
    width: 84.8%;
    background-color: transparent;
    background-origin: initial;
    /* border: 10px dotted black; */
    padding: 25px;
    /* z-index: 2; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.3fr 2fr 2fr 0.5fr;
    justify-content: center;
}

.bloggridbg {
    background-size: 20px 20px;
    background-image:
        linear-gradient(to right, #C7ACA1 1px, transparent 1px),
        linear-gradient(to bottom, #C7ACA1 1px, transparent 1px);
    position: relative;
    height: 79.5%;
    width: 84.8%;
    background-color: transparent;
    background-origin: initial;
    /* border: 10px dotted black; */
    padding: 25px;
    /* z-index: 2; */
}

.blogtitle {
    display: grid;
    grid-column: 4/7;
    grid-row: 1/2;
    text-align: center;
    color: #41403E;
    font-weight: bold;
}

.blogtitle h1 {
    text-decoration: none;
    margin-bottom: 0;
}

#scribble {
    background: url(../projects/img/bottomborderimage.png) no-repeat center center;
    grid-column: 4/7;
    grid-row: 2/3;
    background-size: contain;
    height: 25px;

}

button {
    padding: 20px 30px 20px 30px;
    text-align: center;
}

.bloga {
    display: grid;
    grid-column: 2/3;
    grid-row: 3/4;
}

.blogb {
    display: grid;
    grid-column: 3/4;
    grid-row: 3/4;
}

.blogc {
    display: grid;
    grid-column: 4/5;
    grid-row: 3/4;
}

.blogd {
    display: grid;
    grid-column: 5/6;
    grid-row: 3/4;
}

.bloge {
    display: grid;
    grid-column: 6/7;
    grid-row: 3/4;
}

.blogf {
    display: grid;
    grid-column: 7/8;
    grid-row: 3/4;
}

.blogg {
    display: grid;
    grid-column: 8/9;
    grid-row: 3/4;
}

.blogh {
    display: grid;
    grid-column: 2/3;
    grid-row: 4/5;
}

.blogi {
    display: grid;
    grid-column: 3/4;
    grid-row: 4/5;
}

.blogj {
    display: grid;
    grid-column: 4/5;
    grid-row: 4/5;
}

.blogk {
    display: grid;
    grid-column: 5/6;
    grid-row: 4/5;
}

.blogl {
    display: grid;
    grid-column: 6/7;
    grid-row: 4/5;
}

.blogm {
    display: grid;
    grid-column: 7/8;
    grid-row: 4/5;
}

.blogn {
    display: grid;
    grid-column: 8/9;
    grid-row: 4/5;
}

/* EAch Blog Content Column Grid Stuff */
.blogcolumngrid {
    display: grid;
    grid-template-columns: 0.5fr 0.8fr 3fr;
}

.blogcolumn1 {
    display: grid;
    grid-column: 1/2;
}

.blogcolumn2 {
    display: grid;
    grid-column: 3/4;
    padding-top: 60px;
    padding-bottom: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.blogcolumn3 {
    display: grid;
    grid-column: 4/5;
    padding-top: 20px;
}

.blogarrowgrid {
    display: grid;
    grid-template-columns: repeat(8, 0.5fr);
}

.blogbackarrow {
    display: grid block;
    grid-column: 1/2;
    margin-left: auto;
    margin-right: auto;
}

.blogforwardarrow {
    display: grid block;
    grid-column: 8/9;
    margin-left: auto;
    margin-right: auto;
}


/* Imperfect Buttons */
@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
* {
  box-sizing: border-box;
}

.button {
  align-self: center;
  background: transparent;
  padding: 1rem 1rem;
  margin: 0 1rem;
  transition: all 0.5s ease;
  color: #41403E;
  font-size: 2rem;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  /*
  Above is shorthand for:
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
  */
}
.button:hover {
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
}
.linedthick {
  border: solid 7px #41403E;
}

.dottedthick {
  border: dotted 5px #41403E;
}

.dashedthick {
  border: dashed 5px #41403E;
}

.linedthin {
  border: solid 2px #41403E;
}

.dottedthin {
  border: dotted 2px #41403E;
}

.dashedthin {
  border: dashed 2px #41403E;
}

@media (max-width: 620px) {
  body h1 {
    margin-top: 2rem;
  }
  body section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
  }
  body section button {
    align-self: center;
    margin-bottom: 2rem;
  }
}